<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Drawflow | Simple Flow program libray</title>
    <meta name="description" content="Simple library for flow programming. Drawflow allows you to create data flows easily and quickly.">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/drawflow.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/beautiful.css') }}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/drawflow.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="https://unpkg.com/micromodal/dist/micromodal.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <header>
      <h2>SST Config</h2>
    </header>
    <div class="wrapper">
      <div class="col">
        {{ element_divs|safe }}

        <input id="group_nodes_name" type="text" value="group_name">
        <input id="group_nodes" type="checkbox" placeholder="Group">
        <!-- <div id="group_nodes" class="btn-export">Group</div> -->
        <div><span id="group_nodes_msg"></span></div>
      </div>
      <div class="col-right">
        <div class="menu">
          <ul id="hierarchy">
            <li onclick="editor.changeModule('Home'); changeModule(event);">Home</li>
          </ul>
        </div>
        <div id="drawflow" ondrop="drop(event)" ondragover="allowDrop(event)">
          <form method="post">
            <div class="btn-export" id="export_button">Export</div>
            <div class="btn-clear" onclick="editor.clearModuleSelected()">Clear</div>
            <div class="btn-lock">
              <i id="lock" class="fas fa-lock" onclick="editor.editor_mode='fixed'; changeMode('lock');"></i>
              <i id="unlock" class="fas fa-lock-open" onclick="editor.editor_mode='edit'; changeMode('unlock');" style="display:none;"></i>
            </div>
          </form>
          <div class="bar-zoom">
            <i class="fas fa-search-minus" onclick="editor.zoom_out()"></i>
            <i class="fas fa-search" onclick="editor.zoom_reset()"></i>
            <i class="fas fa-search-plus" onclick="editor.zoom_in()"></i>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">
      const df_box_divs = JSON.parse({{df_box_divs | tojson}});
    </script>

    <script type="text/javascript">

      $("#export_button").click(function(e) {
        e.preventDefault();
        $.post("/export_drawflow_data", {
          drawflow_data: JSON.stringify(editor.export())
        });
      });

      /* DRAG EVENT */
      /* Mouse and Touch Actions */
      var elements = document.getElementsByClassName('drag-drawflow');
      for (var i = 0; i < elements.length; i++) {
        elements[i].addEventListener('touchend', drop, false);
        elements[i].addEventListener('touchstart', drag, false);
      }

      function allowDrop(ev) {
        ev.preventDefault();
      }

      function drag(ev) {
        ev.dataTransfer.setData("node", ev.target.getAttribute('data-node'));
      }

      function drop(ev) {
        ev.preventDefault();
        var data = ev.dataTransfer.getData("node");
        addNodeToDrawFlow(data, ev.clientX, ev.clientY);
      }

      function addNodeToDrawFlow(name, pos_x, pos_y) {
        if (editor.editor_mode === 'fixed') {
          return false;
        }
        pos_x = pos_x * (editor.precanvas.clientWidth / (editor.precanvas
          .clientWidth * editor.zoom)) - (editor.precanvas.getBoundingClientRect()
          .x * (editor.precanvas.clientWidth / (editor.precanvas.clientWidth *
            editor.zoom)));
        pos_y = pos_y * (editor.precanvas.clientHeight / (editor.precanvas
          .clientHeight * editor.zoom)) - (editor.precanvas.getBoundingClientRect()
          .y * (editor.precanvas.clientHeight / (editor.precanvas.clientHeight *
            editor.zoom)));
        editor.addNode(name, 2, 1, pos_x, pos_y, name, {}, df_box_divs[name]);
      }

      function changeModule(event) {
        var all = document.querySelectorAll(".menu ul li");
        for (var i = 0; i < all.length; i++) {
          all[i].classList.remove('selected');
        }
        event.target.classList.add('selected');
      }

      function changeMode(option) {
        //console.log(lock.id);
        if (option == 'lock') {
          lock.style.display = 'none';
          unlock.style.display = 'block';
        } else {
          lock.style.display = 'block';
          unlock.style.display = 'none';
        }
      }
    </script>

    <script type="text/javascript">
      var id = document.getElementById("drawflow");
      const editor = new Drawflow(id);
      editor.reroute = true;
      editor.start();
    </script>

    <script type="text/javascript">

      var groupNodeHTML = `<div class="dbclickbox" ondblclick="editor.changeModule('__GROUP__')">__GROUP__</div>`;

      function moveNodesToModule(groupName, selectedNodes) {

        var totalInputs = 0;
        var totalOutputs = 0;
        for (var i = 0; i < selectedNodes.length; i++) {

          // get node of current module
          var oldNode = editor.getNodeFromId(selectedNodes[i]);

          // expand values into variables
          var newName = oldNode["name"];
          var newInputs = oldNode["inputs"];
          var newOutputs = oldNode["outputs"];
          var newPosX = oldNode["pos_x"]
          var newPosY = oldNode["pos_y"]
          var newData = oldNode["data"]
          var newHTML = oldNode["html"]
          var numInputs = Object.keys(newInputs).length;
          var numOutputs = Object.keys(newOutputs).length;
          editor.addNode(newName, numInputs, numOutputs, newPosX, newPosY, newName, newData,
            newHTML);
          editor.removeNodeId("node-" + oldNode["id"]);

          totalInputs += numInputs;
          totalOutputs += numOutputs;
          // console.log(newInputs)
          // console.log(newOutputs)

          // for (var j = 0; j < newInputs.length; j++) {
          //   console.log(newInputs[j]);
          // }

        }

        editor.changeModule('Home');
        editor.addNode("__GROUP__", totalInputs, totalOutputs, 0, 0, "__GROUP__", {}, groupNodeHTML.replaceAll("__GROUP__", groupName));

      }

      var groupedNum = 0;
      var selectedNodes = [];

      $("#group_nodes").change(function(e) {

        e.preventDefault();

        if ($("#group_nodes").is(":checked")) {

          $("#group_nodes_msg").text("In grouping mode");

          editor.on('nodeSelected', function(id) {
            if (!selectedNodes.includes(id)) {
              selectedNodes.push(id);
              $("#group_nodes_msg").text("Nodes selected " + selectedNodes);
            }
          });

        } else if (selectedNodes.length) {

          var groupName = $("#group_nodes_name").val();
          $("#group_nodes_msg").text("Created: " + groupName);
          editor.addModule(groupName);
          editor.changeModule(groupName);
          var newModuleDivHtml = "<li onclick=\"editor.changeModule('" +
            groupName + "'); changeModule(event);\">" + groupName + "</li>";
          $(newModuleDivHtml).appendTo("#hierarchy");
          moveNodesToModule(groupName, selectedNodes);

          // reset variables and states
          selectedNodes.length = 0;
          $("#group_nodes_name").val('')
          groupedNum++;

        }

      })

    </script>

  </body>
</html>
